# All
*                                   @mbecca @leaqui @chelobarreto

# openshift-secured-app
/openshift-secured-app              @mbecca @leaqui

# openshift-secured-redisInsight
/openshift-secured-redisInsight     @leaqui

# openshift-secured-pgadmin
/openshift-secured-redisInsight     @mbecca @leaqui